/*
Creado por Oscar Escobar
*/

body{
    background: #f9f6f1;
}
.espacio{
    margin-top: 1rem;
}
.espacio-abajo{
    margin-bottom: 1rem;
}
.login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}